<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\\Error\\" />
      <!--是否覆盖，默认是追加true-->
      <param name="AppendToFile" value="true" />
      <!--设置无限备份=-1-->
      <!--<param name="MaxSizeRollBackups" value="-1" />-->
      <param name="MaxSizeRollBackups" value="500" />
      <!--单个日志最大尺寸-->
      <!--<param name="MaxFileSize" value="1048576" />-->
      <param name="MaximumFileSize" value="500KB" />
      <!--是否固定名字，只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--配置日志名字格式-->
      <!--<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <!--滚动(日志分割)类型-->
      <!--<param name="RollingStyle" value="Date" />-->
      <param name="RollingStyle" value="Composite" />
      <!--文件的编码-->
      <param name="Encoding" value="utf-8" />
      <!--为空默认情况下会独占日志文件，不能被File.Open，通过"log4net.Appender.FileAppender+MinimalLock"使用最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--日志格式-->
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} 线程ID:[%thread] 来源类：%logger property:[%property{NDC}] - %m%n%n" />
      </layout>
    </appender>
    <!--消息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\\Info\\" />
      <!--是否覆盖，默认是追加true-->
      <param name="AppendToFile" value="true" />
      <!--设置无限备份=-1-->
      <!--<param name="MaxSizeRollBackups" value="-1" />-->
      <param name="MaxSizeRollBackups" value="500" />
      <!--单个日志最大尺寸-->
      <!--<param name="MaxFileSize" value="1048576" />-->
      <param name="MaximumFileSize" value="500KB" />
      <!--是否固定名字，只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--配置日志名字格式-->
      <!--<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <!--滚动(日志分割)类型-->
      <!--<param name="RollingStyle" value="Date" />-->
      <param name="RollingStyle" value="Composite" />
      <!--文件的编码-->
      <param name="Encoding" value="utf-8" />
      <!--为空默认情况下会独占日志文件，不能被File.Open，通过"log4net.Appender.FileAppender+MinimalLock"使用最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--日志格式-->
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} 线程ID:[%thread] 来源类：%logger property:[%property{NDC}] - %m%n%n" />
      </layout>
    </appender>
    <!--调试日志配置-->
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\\Debug\\" />
      <!--是否覆盖，默认是追加true-->
      <param name="AppendToFile" value="true" />
      <!--设置无限备份=-1-->
      <!--<param name="MaxSizeRollBackups" value="-1" />-->
      <param name="MaxSizeRollBackups" value="500" />
      <!--单个日志最大尺寸-->
      <!--<param name="MaxFileSize" value="1048576" />-->
      <param name="MaximumFileSize" value="500KB" />
      <!--是否固定名字，只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--配置日志名字格式-->
      <!--<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <!--滚动(日志分割)类型-->
      <!--<param name="RollingStyle" value="Date" />-->
      <param name="RollingStyle" value="Composite" />
      <!--文件的编码-->
      <param name="Encoding" value="utf-8" />
      <!--为空默认情况下会独占日志文件，不能被File.Open，通过"log4net.Appender.FileAppender+MinimalLock"使用最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--日志格式-->
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} 线程ID:[%thread] 来源类：%logger property:[%property{NDC}] - %m%n%n" />
      </layout>
    </appender>

    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <!--指定logger的设置，additivity指示是否遵循缺省的继承机制,去掉additivity=false日志会有重复-->
    <logger name="logerror" additivity="false">
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo" additivity="false">
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="logdebug" additivity="false">
      <appender-ref ref="DebugAppender" />
    </logger>

    <root>
      <!--所有logger继承此级别不单独设置，开发环境DEBUG，生产环境INFO-->
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>